<section class="row">
  <div class="flex flex-col max-w-md mx-auto col-12 col-sm-6">
    <h1>DragonBall Page</h1>
    <hr />
    <h3>Agregar: {{ name() }}</h3>
    <input
      type="text"
      class="form-control text-center my-2"
      placeholder="Nombre"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    />

    <input
      type="number"
      class="form-control mt-2 text-center"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />

    <button
      (click)="addCharacter()"
      class="bg-blue-500 px-2 py-1 mt-2 text-white text-center hover:bg-blue-600 cursor-pointer transition-colors duration-300"
    >
      Agregar
    </button>
  </div>
  <div class="flex flex-col max-w-md mx-auto text-center col-12 col-sm-6">
    <h3 class="mt-2">Listado:</h3>

    @for (character of characters(); track character.id; let idx = $index) {
      @if (character.power > 8000) {
        <li class="list-disc list-inside">
          <span>{{ idx + 1 }} - {{ character.name }}</span>
          <strong [class.text-red-500]="character.power > 8000"> ({{ character.power }}) </strong>
        </li>
      } @else {
        <li><strong> Aqui termina de acuerdo a condición.</strong></li>
      }
    }
  </div>
</section>
