<style>
    nav {
        display: flex;
        justify-content: space-around;
        background-color: #f5f4ed;
        color: #ccc;
        padding: 10px;

    }

    nav a {
       color: #ccc;
        text-decoration: none;
    }

    nav a.active {
        color: #ff6037;
    }
</style>

<nav>
    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Contador
    </a>

    <a [routerLink]="['/hero']" routerLinkActive="active">
        Hero
    </a>

    <a [routerLink]="['/dragonball']" routerLinkActive="active">
        DragonBall
    </a>

    <a [routerLink]="['/event']" routerLinkActive="active">
        Eventos
    </a>

    <a [routerLink]="['/admin']" routerLinkActive="active">
        Admin
    </a>
</nav>