<nav class="my-2"> 
    <p class="max-w-md mx-auto text-center bg-green-500 ">Sere el nav.</p>
    <div class="flex justify-center bg-black gap-2 p-2">
        <a routerLink="/counter" routerLinkActive="bg-blue-800 font-bold" class="w-32 bg-blue-500 px-2 py-1 rounded text-white text-center hover:bg-blue-600 cursor-pointer transition-colors duration-300">Contador</a>
        <a routerLink="/" routerLinkActive="bg-blue-800 font-bold" [routerLinkActiveOptions]="{exact: true}" class="w-32 bg-blue-500 px-2 py-1 rounded text-white text-center hover:bg-blue-600 cursor-pointer transition-colors duration-300">Hero</a>
        <a routerLink="/dragonball" routerLinkActive="bg-blue-800 font-bold" class="w-32 bg-blue-500 px-2 py-1 rounded text-white text-center hover:bg-blue-600 cursor-pointer transition-colors duration-300">Dragon ball</a>
    </div>
</nav>
