<div class="max-w-md mx-auto mt-6 p-6 bg-white rounded-xl shadow-lg">

<dl>
    <dt>Nombre:</dt>
    <dd>{{name()}}</dd>

    <dt>Edad:</dt>
    <dd>{{age()}}</dd>

    <dt>Método:</dt>
    <dd>{{ heroDescription() }}</dd>

    <dt>Capitalizado:</dt>
    <dd>{{ name() | uppercase  }}</dd>
</dl>

<button (click)="changeHero()" class="bg-blue-600 text-white px-2 py-2 rounded-md hover:bg-blue-700 mx-3">
  Cambiar nombre
</button>

<button (click)="chageAge()" class="bg-blue-600 text-white px-2 py-2 rounded-md hover:bg-blue-700 mx-3">Cambiar edad</button>

<button (click)="resetForm()" class="bg-red-600 text-white px-2 py-2 rounded-md hover:bg-red-800 mx-3">
    reset
</button>
</div>